/* Ini masukin custom fontnya ya, pakai yang earwig factory, di google drive yang gw kasih */
@font-face {
    src : url(../Font/earwig\ factory\ rg.ttf);
    font-family: persona;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.row {
	width: 100%;
}

/* Bagian Header buat Page Homepage */
header .row .header-main {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
	background-color:#000000;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .row .header-main .header-list ul{
    list-style: none; /*ILANGIN TITIKNYA*/
    padding: 0;
    font-size: 3rem;
}

header .row .header-main .header-list ul li{
    position: relative; 
}

header .row .header-main .header-list ul li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    z-index: +99; /*ini wa baca di g4g , gw pakein buat dia nembus di imagenya gitu,kalau ada cara lain ,tersera*/
}

header .row .header-main .header-list ul li a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: 900;
    margin-top: 0;
    padding: 1.8rem 3.5rem;
    transition: .6s;
    background-color:  #000000;
}

header .row .header-main .header-list ul li a:hover{
    background-color:  #d30909;
}

header .row .header-main .header-list ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}

header .row .header-main .header-list ul li ul li{
    font-size: 2rem;
    color: #ffffff;
    background-color:  #000000;
}
header .row .header-main .header-logo img{
    width: 9rem;
    margin-right: 5rem;
}

/* Bagian Buat row kesatunya homepage */

.sec-2 .row .row-2-main{
    background-image: url(../Home/img/row1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80rem;
}


.sec-2 .row .row-2-main .row-2-sub1 h2{
    font-size: 11rem;
    font-family: persona;
    color: white;
}

#W
{
    color: #d30909;
}

#f
{
    color: #d30909;
}

.sec-2 .row  .row-2-sub2{
    position: relative;
    width: 100%;
}
.sec-2 .row .row-2-main .row-2-sub2 img {
	width: 100%;
	height: 40rem;
	z-index: -55; /*ini wa baca di g4g , gw pakein buat dia dibelakang di imagenya gitu,kalau ada cara lain ,tersera*/
}
.sec-2 .row .row-2-main .row-2-sub2 p {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	color: #fff;
	position: absolute;
	top: 11rem;
	left: 14rem;
	width: 80%;
    font-weight: bold;
}

/* Bagian Buat row kedua homepage */

.sec-3 .row .row-3-main{
    background-image: url(../Home/img/row3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
}

.sec-3 .row .row-3-sub2 {
	position: relative;
	width: 100%;
}

.sec-3 .row .row-3-main .row-3-sub1 h2{
    font-size: 9rem;
    font-family: persona;
    color: #fff;
}
.sec-3 .row  .row-3-sub2{
    position: relative;
}
.sec-3 .row .row-3-main .row-3-sub2 img {
	width: 100%;
	height: 35rem;
}
.sec-3 .row .row-3-main .row-3-sub2 p {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	width: 60%;
	color: #fff;
	position: absolute;
	top: 9rem;
	left: 5rem;
    font-weight: bold;
}
.sec-3 .row .row-3-main .row-3-sub2 img.cartoon {
	width: 24rem;
	position: absolute;
	top: -5.5rem;
	right: 13rem;
	height: 36rem;
}

/* Bagian Buat row ketiganya homepage */

.sec-4 .row .row-4-main{
    background-image: url(../Home/img/row4.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60rem;
    
}
.sec-4 .row .row-4-main .row-4-sub1 h2{
    font-size: 15rem;
    font-family: persona;
    color: #d30909;
}
.sec-4 .row  .row-4-sub2{
    position: relative;
}
.sec-4 .row .row-4-sub2 {
	position: relative;
	width: 100%;
}
.sec-4 .row .row-4-main .row-4-sub2 img {
	width: 100%;
	height: 30rem;
}
.sec-4 .row .row-4-main .row-4-sub2 p {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	width: 57%;
	color: #fff;
	position: absolute;
	top: 8rem;
	right: 1.5rem;
    font-weight: bold;
}
.sec-4 .row .row-4-main .row-4-sub2 img.circle {
	width: 35%;
	position: absolute;
	top: -4.5rem;
	left: 3rem;
	height: 40rem;
}

/* Bagian  Footer samain ya footernya buat page lainnya :D */
.fot-main{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fot-main .fot-img img {
	width: 12rem;
	margin-left: 7rem;
}
.fot-main .fot-word p{
    color: red;
    font-family: persona;
    font-size: 5rem;
}
.fot-main .fot-social ul {
	list-style: none;
	padding: 0;
	display: flex;
	margin-right: 5rem;
}

.fot-main .fot-social ul li a img{
    width: 8rem;
    margin-top: 1rem;
    margin-right: 2rem;
}

/* RESPONSIVENYA , coba ges cek lagi f12 bisa gak, di web gw aman sih*/
  
@media only screen and (max-width: 800px) {
    .row {
        width: 80rem;
    }
    .sec-2 .row .row-2-main .row-2-sub2 p {
        font-size: 1.8rem;
        top: 9rem;
        left: 9rem;
        width: 80%;
    }

    .sec-2 .row .row-2-main .row-2-sub2 img {
        width: 80rem;
        height: 26rem;
    }
    .sec-3 .row .row-3-main .row-3-sub2 p {
        font-size: 2.3rem;
        top: 9rem;
        left: 5rem;
    }
    .sec-3 .row .row-3-main .row-3-sub2 img {
        width: 80rem;
    }
    .sec-3 .row .row-3-main .row-3-sub2 img.cartoon {
        
        left: 48rem;

    }
    .sec-4 .row .row-4-main .row-4-sub2 img {
        width: 80rem;
    }
    .sec-4 .row .row-4-main .row-4-sub2 p {
        font-size: 2rem;
        top: 10rem;
        right: -6px;
    }
    .sec-4 .row .row-4-main .row-4-sub2 img.circle {
        width: 33%;
        top: -0.5rem;
        height: 31rem;
    }
  }